*.o
*.gob
*.GOB
moc*.cpp
*.EXE
*.exe
MOVIE
Movie
episode
DroidWorks.*
.qmake.stash
player
openjkdf2
openjkdf2-64
moc*.h
DF2
DF2_res
MOTS
TPM
DW
Pinball
DF2-demo
JK.asm
JK_types.h
build_run_dw.sh
build_run_df2.sh
build_run_openjkdf2.sh
build_run_openjkdf2_64.sh
build_run_openjkdf2_blobs.sh
build_run_tpm.sh
build_run_mots.sh
./*.txt
*.idb
*.id0
*.id1
*.id2
*.nam
*.til
*.bin
*.dll
*.sqlite
*.BinExport
*.BinDiff
JK.idc
byacc/yacc
flex/flex
flex/parse.c
flex/parse.h
flex/flexlib.a
output.map
output-linux64.map
output-linux.map
output-win64.map
openjkdf2-64.dsym/
find_noxrefs.py
imports_conv.py
cogidk.py
src/globals.c
src/globals.h
symbols-tmp.syms
symbols.ld
symbols.ld.cog
Makefile.wasm
.DS_Store
*.cxlog
OpenJKDF2.app
OpenJKDF2_x86_64.app
OpenJKDF2_universal.app
build_win64
macos-debug.tar.gz
macos-debug.zip
win64-debug.zip
wasm_out
win64-debug
win64-package
asan.log.*
build_hooks/
astyle_c.config
astyle_cpp.config
openjkdf2.sublime-project
test.txt
test2.txt
tmp.txt
stderr.txt
stdout.txt
suppr.txt
fun_squares.glsl
is_alive.txt
noxrefs.txt
MOTS_res/*
build_darwin64/*
EnhancementMod/*
openjkdf2.sublime-workspace
formatting_notes.txt
DW_res/*
Jones_res/*
build_emcc/*
JK.h
out/*
build_linux64_/*
build_linux64_flatpak/*
build_linux_arm64_flatpak/*
build_linux_x86_64_flatpak/*
flatpak_openjkdf2/*
.flatpak-builder/*
OpenJKDF2.flatpak
org.openjkdf2.OpenJKDF2.yml
/.vs/VSWorkspaceState.json
